@model EntityLayer.Concrete.ContactLink
@{
    ViewBag.Title = "EditLink";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card col-lg-6 mx-auto">
    <div class="card-body px-5 py-5">
        <h4 class="card-title text-left mb-3">URL Değiştirme</h4>
        @Html.DisplayFor(x => x.LinkName, new {@class= "card-title text-left mb-3" })<br /><br />

        <form class="forms-sample" method="post" action="@Url.Action("EditLink","ContactLink")">
            <div class="form-group">
                @Html.HiddenFor(x=>x.LinkId)
                @Html.HiddenFor(x=>x.LinkName)
                <label>Url:</label>
                @Html.TextBoxFor(x => x.LinkUrl, new { @class = "form-control p_input" })
                @Html.ValidationMessageFor(x => x.LinkUrl, null, new { @class = "text-danger", @style = "font-size:12px" })
            </div>
          

            <button type="submit" style="float:right" class="btn btn-primary mr-2">GÜNCELLE</button>
        </form>

    </div>
</div>

