@model EntityLayer.Concrete.ExperienceInfo
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card col-lg-6 mx-auto">
    <div class="card-body px-5 py-5">
        <h3 class="card-title text-left mb-3">Yeni Tecrübe Ekle</h3>

        <form class="forms-sample" method="post" action="@Url.Action("AddExperience","Experience")">
            <div class="form-group">
                @Html.HiddenFor(x=>x.ExperienceId)
                <label>Deneyim Başlığı:</label>
                @Html.TextBoxFor(x => x.ExperienceHeading, new { @class = "form-control p_input", })
                @Html.ValidationMessageFor(x => x.ExperienceHeading, null, new { @class = "text-danger", @style = "font-size:12px" })
            </div>
            <div class="form-group">
                <label>Deneyim Açıklaması:</label>
                @Html.TextBoxFor(x => x.ExperienceDescription, new { @class = "form-control p_input" })
                @Html.ValidationMessageFor(x => x.ExperienceDescription, null, new { @class = "text-danger", @style = "font-size:12px" })
            </div>
            <div class="form-group">
                <label>Yer:</label>
                @Html.TextBoxFor(x => x.ExperienceSumaryHead, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ExperienceSumaryHead, null, new { @class = "text-danger", @style = "font-size:12px" })
            </div>
            <div class="form-group">
                <label>Tarih:</label>
                @Html.TextBoxFor(x => x.ExperienceTime, new { @class = "form-control", @placeholder = "gün.ay.yıl şeklinde giriniz" })
                @Html.ValidationMessageFor(x => x.ExperienceTime, null, new { @class = "text-danger", @style = "font-size:12px" })
            </div>

            <button type="submit" style="float:right" class="btn btn-primary mr-2">EKLE</button>
        </form>

    </div>
</div>

